$color_1: #FFFFFF;
$color_2: #7B4AE2;
$color_descr: rgba(255, 255, 255, 0.50);
$font-family_1: 'Raleway', sans-serif;
$background-color_1: #1E1E1E;
$background-color_2: rgba(123, 74, 226, 0.1);
@mixin page-titles {
	color: $color_1;
	font-weight: 800;
	font-size: 52px;
}
@mixin card-titles {
	color: $color_1;
	font-weight: 700;
	font-size: 20px;
}

@font-face {
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	src: url("Raleway/Raleway-VariableFont_wght.ttf");
	src: url("Raleway/static/Raleway-Regular.ttf");
}
@font-face {
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	src: url("Raleway/Raleway-VariableFont_wght.ttf");
	src: url("Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	src: url("Raleway/Raleway-VariableFont_wght.ttf");
	src: url("Raleway/static/Raleway-Bold.ttf");
}
@font-face {
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	src: url("Raleway/Raleway-VariableFont_wght.ttf");
	src: url("Raleway/static/Raleway-ExtraBold.ttf");
}

html {
	scroll-behavior: smooth;
}
body._lock {
	overflow: hidden;
}
.bg_shadow {
	transition: all 1s ease 0s;
}
a {
	text-decoration: none;
}
* {
	box-sizing: border-box;
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
h1, h2, h3, h4 {
	margin: 0;
}
.background_container {
	background-color: $background-color_1;
}
.wrapper {
	max-width: 1700px;
	margin: 0 auto;
}
.header_container {
	display: flex;
	justify-content: space-between;
	height: 150px;
}
.header__social-network{ //Иконки при узком экране
  display: none;
  .header__social-network__icon{
    max-width: 32px;
    max-height: 32px;
    margin-top: 32px;
  }
  a:not(:first-child){
    margin-left: 15px;
  }

}
.navigation {
	margin: 0 25px;
	background-color: $background-color_2;
	border-radius: 16px;
	max-height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 38px;
	width: 100%;

	&__icon {
		max-width: 36px;
		max-height: 40px;
		margin: 0 40px;
	}

	&__menu{
		display: flex;
	}
}
.menu__item {
	margin: 12.5px 0;
	list-style-type: none;
	&:after {
		content: '';
		margin-right: 44px;
	}

	&-link{
		font-size: 18px;
		color: $color_1;
		opacity: 0.5;
		transition: opacity 0.6s;
		&:hover {
			color: $color_1;
			opacity: 1;
		}

		&--active{
			font-size: 18px;
			color: $color_2;
			font-weight: 700;
			opacity: 0.9;
			padding-bottom: 7px;
			cursor:default;
		}
	}
}

/*----------------------------------------------------Promo------------------------------------*/
.promo{
	&__container {
		margin: 0 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 250px;
	}

	&__info{
		max-width: 412px;
		max-height: 301px;
		margin-top: -20px;
		margin-left: 15px;
	}

	&__name{
		@include page-titles;
		max-width: 250px;
		margin: 20px 0 30px 0;
	}

	&__profession{
		color: $color_descr;
		text-align: justify;
		font-size: 20px;
	}
	&__social-network{
		a:not(:first-child){
			margin-left: 15px;
		}
		.social-network__icon{
			max-width: 32px;
			max-height: 32px;
			margin-top: 32px;
		}
	}

	&__logo{
		max-width: 555px;
		max-height: 600px;
	}
	&__links {
		max-width: 200px;
	}
}
.connection-btn{
	width: 196px;
	height: 44px;
	border-radius: 16px;
	border: 1px solid rgba(122, 74, 226, 0.9);
	background-color: rgba(123, 74, 226, 0.09);
	color:rgba(123, 74, 226, 0.9);
	cursor: pointer;
	transition: background-color 0.6s;
	&:hover{
		background-color: rgba(123, 74, 226, 0.4);
	}

	&__text{
		font-size: 16px;
		font-weight: 600;

		&__span{
			height: 100px;
		}
	}
}
.page-parts {
	max-width: 160px;
	height: 45px;
	border-radius: 16px;
	background-color: rgba(123, 74, 226, 0.10);
	color: $color_2;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	&__text{
		padding-top: 10px;
	}
}

/*-------------------------------------ABOUT ME-----------------------------------*/
.about-me {
	cursor: default;
	&__container{
		display: flex;
		justify-content: space-around;
		padding-bottom: 50px;
		&__photo{
			max-height: 460px;
			max-width: 498px;
		}
	}
	&__info{
		max-width: 925px;
		&__name{
			margin: 24px 0;
			@include page-titles;
		}
		&__descr{
			&__text{
				font-size: 18px;
				color: rgb(173, 173, 173);
				line-height: 188%;
			}
		}
	}
}
/*-----------------------------------Portfolio-----------------------------------*/

.portfolio{
	.page-parts{
		margin: 0 auto;
	}
	&__container{
		margin: 0 25px;
		padding: 50px 0;
	}
	&__title{
		@include page-titles;
		margin: 20px 0;
		text-align: center;
	}
	&__box{
		margin: 100px 28px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 65px;
		&__card{
			max-width: 440px;
			max-height: 560px;
			border-radius: 16px;
			border: 1px solid rgba(123, 74, 226, 0.50);
			padding: 40px;
			transition: 0.5s;
			.card__title{
				@include card-titles;
				margin-bottom: 9px;
			}
			.card__desr{
				color: $color_descr;
				line-height: 140%;
				width: 300px;
				height: 100px;
				margin-bottom: 22px;
			}
			.card__tools{
				display: flex;
				margin-bottom: 22px;
				.card__tools__item{
					max-width: 106px;
					max-height: 30px;
					background-color:#7a4ae250;
					color: $color_2;
					font-size: 16px;
					font-weight: 700;
					text-align: center;
					padding: 5px 15px;
					border-radius: 7px;
					transition: 0.5s;
					&--main{
						background-color:rgba(74, 226, 144, 0.30);
						font-size: 16px;
						font-weight: 700;
						text-align: center;
						padding: 5px 15px;
						border-radius: 7px;
						transition: 0.5s;
						color: #4AE290;
					}
				}
				.card__tools__item:not(:first-child){
					margin-left: 15px;
				}
			}
			.card__img{
				width: 340px;
				height: 230px;
				border-radius: 16px;
				transition: 0.5s;
			}
		}
		&__card:hover {
			background-color: rgba(123, 74, 226, 0.50);
			.card__img{
				opacity: 0.4;
			}
			.card__tools__item{
				background-color:#976fec50;
				color: #a47ef5;
				&--main{
					opacity: 0.8;
				}
			}
		}
	}
}


/*-------------------------------------Technologies-------------------------------------*/

.technologies{
	cursor: default;
	display: flex;
	justify-content: center;
	margin-bottom: 150px;
	.page-parts{
		margin: 0 auto;
	}
	&__title{
		@include page-titles;
		margin: 20px 0 20px 20px;
		text-align: center;
	}
	&__block{
		max-width: 800px;
		display: flex;
		flex-wrap: wrap;
		&__icon{
			max-width: 64px;
			max-height: 64px;
			margin: 25px;
		}
	}
}

/*--------------------------------------Career---------------------------------------*/

.career{
	display: flex;
	justify-content: center;
	cursor: default;
	.page-parts{
		margin: 0 auto;
	}
	&__title{
		@include page-titles;
		margin-top: 28px;
		text-align: center;
		margin-bottom: 70px;
	}
	.career__box{
		width: 800px;
		&__card{
			margin-top: 64px;
			max-width: 100%;
			border-radius: 16px;
			background: rgba(123, 74, 226, 0.1);
			padding: 40px;
			.card{
				&__header{
					display: flex;
					justify-content: space-between;
					&__title{
						@include card-titles;
						margin-bottom: 8px;
					}
					&__logo{
						max-width: 120px;
						max-height: 120px;
					}
				}
				&__link{
					color: #ffffff7a;
					text-decoration: underline;
					display: block;
				}
				&__desr{
					padding-top: 8px;
					color: rgba(255, 255, 255, 0.50);
					font-size: 16px;
					line-height: 160%;
				}
				&__footer{
					display: flex;
					justify-content: space-between;
					padding-top: 17px;
					&__term{
						color: $color_2;
						font-size: 18px;
						font-weight: 700;
					}
					&__time{
						color: $color_2;
						font-size: 18px;
					}
				}
			}
		}
	}
}

/*-------------------------------------Recommendations--------------------------------*/

.recommend{
	margin-top: 145px;
	padding-bottom: 35px;
	cursor: default;
	&__container{
		margin: 0 30px;
	}
	.page-parts{
		max-width: 200px;
		margin: 0;
		&__text{
			margin: 0;
		}
	}
	&__title{
		@include page-titles;
		margin-top: 28px;
		margin-bottom: 64px;
	}
	&__box{
		display: flex;
		justify-content: space-around;
		&__card{
			padding: 35px 35px 15px 35px;
			width: 380px;
			max-height: 200px;
			border-radius: 16px;
			border: 1px solid rgba(123, 74, 226, 0.50);
			.card__photo{
				max-width: 64px;
				max-height: 64px;
				margin: 10px;
			}
			.card__company-logo{
				max-height: 34px;
				display: block;
				margin: 0 auto;
			}
			.card__body{
				display:flex;
			}
			.card__person{
				&__name{
					@include card-titles;
					margin-top: 15px
				}
				&__position{
					color: rgba(123, 74, 226, 0.80);
					font-size: 16px;
					font-weight: 700;
					margin-top: 10px;
				}
			}
		}
	}
}

/*-------------------------------------Contacts--------------------------------*/

.contacts{
	margin-top: 101px;
	display: flex;
	justify-content: center;
	&__container{
		margin: 0 auto;
		width: 700px;
		padding-bottom: 180px;
	}
	.page-parts{
		margin: 0 auto;
		max-width: 200px;
		&__text{
			margin: 0;
		}
	}
	&__title{
		@include page-titles;
		margin-top: 28px;
		text-align: center;
		margin-bottom: 70px;
	}
	&__box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		justify-content: space-evenly;
	}
	.connection-btn{
		max-width: 246px;
		&__text{
			text-align: center;
		}
	}
	.contacts__box_link{
		display: block;
	}
	.contacts__box__mail{
		.mail__telegram{
			color: $color_2;
			font-size: 20px;
			font-weight: 700;
			display: block;
			text-align: center;
			img {
				max-height: 30px;
			}
		}
		.mail__text{
			color: $color_2;
			font-size: 20px;
			font-weight: 600;
			margin-top: 40px;
			text-align: center;
		}
		.mail__adress{
			font-size: 20px;
			font-weight: 600;
			margin-top: 10px;
			color: white;
			opacity: 0.7;
			text-align: center;
			display: block;
		}
	}
}

/*----------------------------------Footer----------------------------*/
.footer{
	.footer__container{
		height: 88px;
		background-color:rgb(51, 51, 53);
	}
	&__social-network{
		display: flex;
		justify-content: center;
		padding-top: 25px;
		a{
			margin: 0 15px;
		}
		&__icon{
			max-height: 34px;
			max-width: 34px;
		}
	}
}

/*------------------------------Adaptive-------------------------------*/

@media (max-width: 1400px){
	.navigation{
		margin: 38px 70px 0 70px
	}
	.promo{
		&__container{
			margin: 0 70px;
			padding-bottom: 150px;
		}
		&__logo{
			max-width: 460px;
			margin: 0;
		}
	}
	/*----------------AboutMe----------------*/
    .about-me__photo{
      padding-left: 50px;
    }
	.photo__my-photo{
		max-width: 80%;
	}
	.about-me{
		&__container{
			align-items: flex-end
		}
		&__info__descr__text{
			font-size: 16px;
			max-width: 500px;
		}
      &__info{
        margin-right: 70px;
      }
	}
	/*----------Recommend----------------------*/
	.recommend__box{
		flex-wrap: wrap;
	}
	.recommend__box__card{
		width: 280px;
		padding: 20px 20px 15px 20px;
		.card__photo{
			max-width: 50px;
		}
		.card__company-logo{
			max-height: 28px;
		}
		.card__person__name{
			font-size: 16px;
		}
		.card__person__position{
			font-size: 14px;
		}
	}
}

@media (max-width: 1065px) {
	@mixin page-titles {
		color: $color_1;
		font-weight: 800;
		font-size: 40px;
	}
    .navigation{
      justify-content: center;
      .navigation__menu{
        .menu__item{
          &-link{
            font-size: 14px;
            &--active{
              font-size: 14px;
            }
          }
        }
      }
      .navigation__icon{
        display: none;
      }
    }
	/*--------------Promo--------------*/

	.promo__name{
		font-size: 40px;
	}
	.promo__logo{
		max-width: 370px;
	}
    .promo__links .connection-btn{
      height: 70px;
      width: 120px;
    }
  /*-------------AboutMe----------------*/
  .photo__my-photo{
    max-width: 80%;
  }
  /*------------Career---------------*/
  .career .career__box {
    margin: 0 auto;
    width: 70%;
  }
  /*------------Recommend----------*/
  .recommend .page-parts{
    margin: 0 auto;
  }
  .recommend__title{
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
  }
  .recommend__box{
    display: flex;
    flex-wrap: wrap;
    &__card{
      margin: 15px 15px;
    }
  }
}

@media (max-width: 890px) {
  .header_container{
    justify-content: center;
    height: 80px;
    .social-network{
    }
  }
  .navigation{
    display: none;
  }
  .header__social-network{
    display: block;
  }
  .promo {
    &__social-network {
      display: none;
    }

    &__container {
      display: grid;
      justify-content: center;
      padding-bottom: 70px;
    }

    &__info {
      margin: 0 auto;
      order: 2;

    }
    &__name{
      margin: 0;
      text-align: center;
    }
    &__profession{
      margin: 10px 0px;
      text-align: center;
    }
    &__logo{
      order: 1;
      margin-bottom: 70px;
      margin-left: 20px;
      max-width: 340px;
    }
    &__links{
      order: 3;
      margin: 0 auto;
      .connection-btn{
        margin-top: 14px;
        height: 44px;
        width: 200px;
        border-radius: 10px;
      }
    }
  }
  /*----------page parts--------*/
  .page-parts{
    font-size: 14px;
    max-width: 110px;
    max-height: 32px;
    border-radius: 10px;
    margin: 0 0 15px 0px;
    &__text{
      padding: 5px;
    }
  }

  /*-------------AboutMe---------------*/
  .about-me{
    &__container{
      display: block;
      justify-content: normal;
    }
    &__photo{
      margin: 12px auto;
      max-width: 300px;
    }
    &__info{
      margin: 0 auto;
      max-width: 350px;
      &__name{
        font-size: 24px;
      }
    }
    &__info__descr__text{
      margin-top: 30px;
      text-align: justify;
    }
  }
  /*------------Technologies------------*/
  .technologies{
    margin-bottom: 70px;
    &__title{
      font-size: 30px;
    }
    &__block{
      justify-content: center
    }
  }
  /*-----------Career---------------*/
  .career{
    &__title{
      font-size: 35px;
    }
  }
}
